* {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}
#htmm,#bodd,.con,#ri,#ri2{
    height: 100% !important;
}
.con{
    display: grid;
    align-content: stretch;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr;
}
.ru {
    margin: 0;
    border: 1px solid black;
    height: 100%;
}
.ads2023 {
    height: auto;
    background-color: #eee;
    width: 100%;
    margin: 5px auto;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 10px 0;
}
textarea#ri2 {
    resize: none;
    border: 1px solid black;
    width: 100%;
}
.btns2023 {
    display: block;
}
.thatdisappear {
    display: block;
    position: relative;
}
button.callrun.run {
    display: none;
}
.callrun {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 0px;
    border: 1px solid #b5b5b5;
    white-space: nowrap;
    transition-property: all;
    transition-duration: 0.5s;
    overflow: hidden;
    background-color: #fff;
    bottom: 11px;
    font-size: 23px;
    text-align: center;
    color: rgb(99 127 140);
    font-weight: bolder;
    height: 33px;
    line-height: 10px;
    clip-path: polygon( 100% 0%, 99.73714% -0.13875%, 98.96737% -0.53964%, 97.71887% -1.17957%, 96.01985% -2.03547%, 93.89849% -3.08428%, 91.38299% -4.30291%, 88.50154% -5.66829%, 85.28234% -7.15734%, 81.75358% -8.74699%, 77.94346% -10.41416%, 73.88016% -12.13578%, 69.59189% -13.88876%, 65.10683% -15.65005%, 60.45319% -17.39655%, 55.65915% -19.10519%, 50.75291% -20.75291%, 45.76266% -22.31661%, 40.7166% -23.77324%, 35.64292% -25.09971%, 30.56981% -26.27294%, 25.52548% -27.26986%, 20.5381% -28.0674%, 15.63589% -28.64248%, 10.84702% -28.97202%, 6.1997% -29.03295%, 1.72212% -28.8022%, -2.55753% -28.25668%, -6.61106% -27.37332%, -10.41026% -26.12905%, -13.92694% -24.50079%, -17.13292% -22.46546%, -20% -20%, -22.46546% -17.13292%, -24.50079% -13.92694%, -26.12905% -10.41026%, -27.37332% -6.61106%, -28.25668% -2.55753%, -28.8022% 1.72212%, -29.03295% 6.1997%, -28.97202% 10.84702%, -28.64248% 15.63589%, -28.0674% 20.5381%, -27.26986% 25.52548%, -26.27294% 30.56981%, -25.09971% 35.64292%, -23.77324% 40.7166%, -22.31661% 45.76266%, -20.75291% 50.75291%, -19.10519% 55.65915%, -17.39655% 60.45319%, -15.65005% 65.10683%, -13.88876% 69.59189%, -12.13578% 73.88016%, -10.41416% 77.94346%, -8.74699% 81.75358%, -7.15734% 85.28234%, -5.66829% 88.50154%, -4.30291% 91.38299%, -3.08428% 93.89849%, -2.03547% 96.01985%, -1.17957% 97.71887%, -0.53964% 98.96737%, -0.13875% 99.73714%, 0% 100%, 100% 100% );
    box-shadow: 0 1px 1px rgb(0 0 0 / 11%), 0 2px 2px rgb(0 0 0 / 11%), 0 4px 4px rgb(0 0 0 / 11%), 0 6px 8px rgb(0 0 0 / 11%), 0 8px 16px rgb(0 0 0 / 11%);
    border-radius: 3px;
}
.callrun:hover {
    background-color: #56656d !important;
    color: white!important;
    width: auto;
    border-radius: 2px;
    text-overflow: unset;
    cursor: pointer;
    border: 0;
}
@media only screen and (max-width: 600px) {
    #bodd {
        background: linear-gradient(to right bottom, #ededed 50%, #cbcbcbd4 50%) !important;
        margin: 0 0 !important;
    }
    .con {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin: 0;
        border-radius: 15px;
        padding: 5px;
        border: 1px solid #8e8e8e;
        background-color: #8e8e8e;
    }
    p.ru {
        border: 1px solid #dadada;
        background-color: white;
        overflow: auto;
    }
    .ads2023 {
        background-color: transparent;
        margin: 0 !important;
        padding: 8px !important;
    }
    .btns2023 {
        padding: 5px !important;
        background-image: linear-gradient(277deg, #607d8b, #bababade);
        margin: 0 10px 8px !important;
        height: 50px !important;
        display: none;
        border-radius: 23px !important;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        overflow-y: auto;
        scroll-behavior: smooth;
        padding: 0px 10px !important;
        box-shadow: 0 1px 1px rgb(0 0 0 / 11%), 0 2px 2px rgb(0 0 0 / 11%), 0 4px 4px rgb(0 0 0 / 11%), 0 6px 8px rgb(0 0 0 / 11%), 0 8px 16px rgb(0 0 0 / 11%);
    }
    button.callrun.run {
    display: block;
}
    button.copy {
        font-family: 'Source Sans Pro', sans-serif;
        margin-top: 0px;
        border-radius: 50%;
        word-spacing: 10px;
        border: 1px solid #b5b5b5;
        white-space: nowrap;
        width: 35px;
        height: 35px;
        transition-property: all;
        transition-duration: 0.5s;
        overflow: hidden;
        background-color: #fff;
        bottom: 11px;
        font-size: 23px;
        line-height: 3px;
        text-align: center;
        color: rgb(0 0 0 / 29%);
        font-weight: bolder;
        cursor: pointer;
    }
    textarea#ri2 {
        border: 0;
        border-radius: 5px;
    }
    .thatdisappear {
        display: none;
    }
    .headru {
        background-color: #607d8b;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 50px;
    }
    .headru span {
        height: 2px;
        background-color: #9b9b9b;
        position: fixed;
        border-radius: 12px;
        width: 32px;
        right: 14px;
        top: 23px;
    }
    .headru span:first-child{
        transform: rotate(45deg) !important;
    }
    .headru span:last-child{
        transform: rotate(135deg) !important;
    }
    .closebtn {
        background-color: #fff;
        width: 44px;
        position: fixed;
        top: 3px;
        right: 8px;
        height: 44px;
        border-radius: 50%;
        box-shadow: 0 1px 1px rgb(0 0 0 / 11%), 0 2px 2px rgb(0 0 0 / 11%), 0 4px 4px rgb(0 0 0 / 11%), 0 6px 8px rgb(0 0 0 / 11%), 0 8px 16px rgb(0 0 0 / 11%);
    }
}
@media only screen and (min-width: 600px) {
    .thatdisappear {
        display: block !important;
        position: relative !important;
    }
}
